@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .title-lg {
    @apply text-4xl font-bold leading-tight;
  }
  
  .title-md {
    @apply text-3xl font-bold leading-tight;
  }
  
  .title-sm {
    @apply text-2xl font-bold leading-tight;
  }
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
